// Variables

// Font families
$nunito: "Nunito", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
  sans-serif;

$nunito--medium: "Nunito medium", -apple-system, BlinkMacSystemFont, "Roboto",
  "Helvetica Neue", sans-serif;

$nunito--semi: "Nunito semibold", -apple-system, BlinkMacSystemFont, "Roboto",
  "Helvetica Neue", sans-serif;

$nunito--bold: "Nunito bold", -apple-system, BlinkMacSystemFont, "Roboto",
  "Helvetica Neue", sans-serif;

// MWF Font weights
$bold: 700;
$semi-bold: 600;
$medium-bold: 500;
$regular-bold: 400;

$black: #000;
$white: #fff;
$error: #d35b5b;
$primary-text: #012970;
$secondary-text: #444444;
$primary-bg: #4154f1;
$secondary-bg: #f2f4f6;
