.form {
  &-group {
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0 2px 6px var(--bs-gray-200);
  }

  &-group-name {
    font-family: $nunito--semi;
  }

  &-label {
    font-size: 16px;
    color: $black;
    font-family: $nunito--semi;
  }
}
