@import "../../node_modules/bootstrap/scss/bootstrap";
@import "partials/reset";
@import "partials/typography";
@import "partials/fonts";

.error {
  color: $error;
}

.verify-user-container {
  @include flex-center;
  min-height: 100vh;
  background: url("../assets/images/hero-bg.png") top center no-repeat;
  background-size: cover;
}

.logo-text {
  font-size: 28px;
  color: $primary-text;
  font-family: $nunito--bold;
  margin: 0 0 0 8px;
}

.main-layout {
  padding-top: 80px;
  margin-left: 0px;
  width: 100%;
  background: $secondary-bg;
  min-height: 100%;

  @include media-breakpoint-up(lg) {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
}

.MuiTabs-root {
  margin: 15px 0;
}

[class*="css-"][class*="-MuiButtonBase-root-MuiTab-root"] {
  margin-right: 20px;
  display: inline-block;
  left: -16px;
}

[class*="css-"][class*="-MuiButtonBase-root-MuiTab-root"],
[class*="css-"][class*="-MuiButtonBase-root-MuiTab-root"].Mui-selected {
  color: $secondary-text;
  padding: 10px 0 0;
}