@import "../../node_modules/bootstrap/scss/bootstrap";
@import "partials/reset";
@import "partials/typography";
@import "partials/fonts";
@import "form";

.error {
  color: $error;
}

.verify-user-container {
  @include flex-center;
  min-height: 100vh;
  background: url("../assets/images/hero-bg.png") top center no-repeat;
  background-size: cover;
}

.logo-text {
  font-size: 28px;
  color: $primary-text;
  font-family: $nunito--bold;
  margin: 0 0 0 8px;
}

.main-layout {
  padding-top: 80px;
  margin-left: 0px;
  width: 100%;
  background: $secondary-bg;
  min-height: 100%;

  @include media-breakpoint-up(lg) {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
}

.form-control {
  color: $secondary-text;
  border: 1px solid var(--bs-gray-400);
  border-radius: 3px;
  min-height: 40px;
  &:focus {
    opacity: 0.9;
    box-shadow: 0 10px 10px 0 $secondary-bg !important;
    border-color: inherit;
  }

  &:read-only {
    background: var(--bs-gray-100);
    box-shadow: none;
    border-color: var(--bs-gray-400);
  }
}

@-webkit-keyframes live {
  50% {
    -webkit-transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(4);
  }
}

@keyframes live {
  33% {
    -webkit-transform: scale(1);
  }
  66% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.common {
  &-card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    margin-top: 16px;
  }

  &-offline {
    color: var(--bs-danger);

    &-dot {
      width: 10px;
      height: 10px;
      background: var(--bs-danger);
      border-radius: 50%;
      box-shadow: 1px 0px 3px 0px var(--bs-danger);
    }
  }

  &-live {
    color: var(--bs-success);

    &-dot {
      width: 10px;
      height: 10px;
      background: var(--bs-success);
      border-radius: 50%;
      box-shadow: 1px 0px 3px 0px var(--bs-success);
      -webkit-animation: live 1.4s infinite ease-in-out;
      animation: live 1.4s infinite ease-in-out;
    }
  }

  &-circle-user {
    border: 1px solid $primary-text;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color: $primary-text;
  }

  &-circle-healthy {
    border: 1px solid var(--bs-success);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--bs-success);
  }

  &-circle-unhealthy {
    border: 1px solid var(--bs-warning);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--bs-warning);
  }

  &-circle-critical {
    border: 1px solid var(--bs-danger);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--bs-danger);
    font-size: 13px;
  }
}
