.page-header {
  display: block;
  background: var(--bs-body-bg);
  color: $secondary-text;
  border-radius: 8px;
  margin: 5px;
  padding: 10px;

  & .title {
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
  }

  & .action {
    min-width: 20%;
    text-align: center;
  }

  & .action button {
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 426px) {
    display: flex;
    align-items: center;

    & .title {
      flex-grow: 1;
      margin-bottom: unset;
    }
  }
}